@charset "UTF-8";

@import url("header.css");
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: white;
}
footer {
	position: absolute;
	color: white;
	left: 0;
	bottom: 0;
	width: 100%;
	top:110%;
	height: 20px;
	text-align: center;
}